beautifulsoup4
camelot-py
dotenv
datasets
FreeSimpleGUI
fitz
fastapi
pandas
openai
google-genai
google
groq
ipywidgets
ipython
jupyterlab
lxml
loguru
langchain
langgraph
langchain-core
langchain-community
langchain-openai
mypy
matplotlib
mglearn
nltk
numpy==1.26.4
openpyxl
openai
Pygments
pyodbc
pillow
python-dotenv
pinecone
pathlib
plotly
pinecone
playwright
protobuf
PyPDF2
PyMuPDF
requests
scikit-learn
scipy
seaborn
soundfile
sounddevice
statsmodels
sentence-transformers
torch
tensorflow
tiktoken
tqdm
typing
typing_extensions
tenacity
termcolor
textblob
transformers